.detail-child {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
}

section.detail-container {

  border-radius: 0 0 10px 10px;
  min-height: 520px;
  min-width: 300px;  
  // border-radius: 0 0 10px 10px;
  // height: 520px;
  // width: 300px;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  position: relative;
  padding: 10px;
  background-color: $detail-color-transparent;
  
  @media only screen and (min-device-width: 320px) 
  and (max-device-width: 812px) and (orientation: landscape) {
    min-height: 290px;
    min-width: 600px; 
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  @media (min-width: 900px) {
    width: 425px;  
    padding: 30px;
    padding-top: 15px;
    height: 560px;
  }
}

.close-modal {
  position: absolute;
  color: white;
  top: 2%;
  right: 2.5%;
  font-size: 1.2em;

  @media (min-width: 900px) {
    font-size: 1.7em;
  }
}

.close-modal:hover {
  cursor: pointer;
  color: $button-color-hover;
}


.detail-heading {
  display: flex;
  justify-content: center;
  max-width: 425px;
  padding: 10px 30px 0;
  border-radius: 10px 10px 0 0;
  background-color: rgba(32, 6, 8, 0.7);


  @media only screen and (min-device-width: 320px) 
  and (max-device-width: 812px) and (orientation: landscape) {
    max-width: 800px;
  }

}

h3.detail-title {
  margin: 0;
  width: 100%;
  padding: 10px;
  // padding-bottom: 5px;
  color: $detail-font-color;
  text-align: center;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgba(116, 2, 2, 0.5);


  @media only screen and (min-device-width: 320px) 
  and (max-device-width: 812px) and (orientation: landscape) {
    font-size: 1em;
  }
  @media (min-width: 900px) {
    font-size: 1.7em;
  }
}

.top-half{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(116, 2, 2, 0.5);

  @media only screen and (min-device-width: 320px) 
  and (max-device-width: 812px) and (orientation: landscape) {
    flex-wrap: nowrap;
    justify-content: space-between;
    border: none;
    width: 50%;
    height: 240px
  }
}



.poster {
  width: 170px;
  @media only screen and (min-device-width: 320px) 
  and (max-device-width: 812px) and (orientation: landscape) {
    width: 160px;
  }
  @media (min-width: 900px) {
    width: 200px;
  }
}


.runtime-scores {
  display: flex;
  width: 120px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;

  @media only screen and (min-device-width: 320px) 
  and (max-device-width: 812px) and (orientation: landscape) {
    // min-height: 320px;
    // justify-content: space-evenly;
    align-items: flex-start;
    // min-width: 220p; 
  }

  @media (min-width: 900px) {
    width: 220px;
  }
}



///DATE AND RUNTIME

.runtime-scores > span {
  display: flex;
  flex-direction: column;
  text-align: right;

  @media (min-width: 900px) {
    font-size: 1.35em;
    width: 170px;
    text-align: right;
  }
}



////RATINGS AND VOTES
.ratings-container {
  min-width: 100px;
  display: flex;
  height: fit-content;

  @media only screen and (min-device-width: 320px) 
  and (max-device-width: 812px) and (orientation: landscape) {
    flex-direction: row-reverse;
  }
  
  @media (min-width: 900px) {
    width: 100%;
    justify-content: flex-end;
  }
}

.score {
  margin-bottom: 5px;

}

.star {
  font-size: 30px;
  color: rgb(248, 152, 9);
  height: fit-content;
  padding-top: 2%;
  margin: 0 5px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(255, 219, 60, 1);
  
  @media (min-width: 900px) {
    font-size: 50px;
  }
}


.score-votes {
  display: flex;
  width: fit-content;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-end;  

}

.score-num {
  font-size: 30px;
  color: $detail-font-color;

  @media (min-width: 900px) {
    font-size: 50px;
  }
}

.score-num span {
  font-size: 16px;
  color: $detail-font-color;

  @media (min-width: 900px) {
    font-size: 25px;
  }
}

.vote-count {
  font-size: 12px;
  text-align: right;
  color: rgb(238, 51, 51);

  @media (min-width: 900px) {
    font-size: 18px;
  }
}

.year > span:first-child, 
.runtime > span:first-child, 
.genres > span:first-child {
  font-size: 12px;
  color: rgb(238, 51, 51);


  @media only screen and (min-device-width: 320px) 
  and (max-device-width: 812px) and (orientation: landscape) {
    text-align: left;
  }

}

.genres {
  display: flex;
  flex-direction: column;
  text-align: right;

  @media (min-width: 900px) {
    font-size: 1.35em;
  }
}

.year > span:last-child, 
.runtime > span:last-child, 
.genres > span:last-child{
  color: $detail-font-color;

  @media only screen and (min-device-width: 320px) 
  and (max-device-width: 812px) and (orientation: landscape) {
    text-align: left;
  }
}
///////

.overview {
  font-size: 16px;
  max-height: 180px;
  overflow-y: auto;
  color: $detail-font-color;



  @media only screen and (min-device-width: 320px) 
  and (max-device-width: 812px) and (orientation: landscape) {
    // min-height: 320px;
    width: 40%;
    max-height: 240px;
    // min-width: 220p; 
  }

  @media (min-width: 900px) {
    font-size: 18px;
    max-height: 180px;
  }
}

.overview::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
}

.overview::-webkit-scrollbar-thumb {
  background-color: $button-color;
  border-radius: 10px;
}

.interest-button {
  min-width: 170px;
  font-weight: bold;
  background-color: $button-color;
  border-radius: 5px;
  text-align: center;
  padding: 6px 8px;
  box-sizing: border-box;
  font-size: 1em;
  position: absolute;
  bottom: 25px;
  color: $detail-font-color;

  @media only screen and (min-device-width: 320px) 
  and (max-device-width: 812px) and (orientation: landscape) {
    bottom: 10px;
  }
  @media (min-width: 900px) {
    padding: 9px 14px;
    font-size: 1.1em;
  }
}

.interest-button:hover {
  @media (min-width: 900px) {
    cursor: pointer;
    background-color: $button-color-hover;
  }
}
