// Interests main container
.interests-container {
  height: 28vh;
  width: 100%;
  background: grey;
  position: relative;
}

// Interests header text
.interests-header {
  height: 10%;
  text-align: center;
}

// Interests slider container
.slider-container {
  height: 90%;
}