// Nav main container
.nav-container {
  height: 16vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: transparent;
}

// Nav header container
.nav-header {
  height: 60%;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0px 15px;
}

///NAV LOGO
.nav-logo {
  width: 185px;
}

.nav-logo img {
  filter: brightness(1.5);  
}
////

.logout-button {
  width: 100px;
  font-weight: bold;
  background-color: $button-color;
  border-radius: 5px;
  text-align: center;
  padding: 6px 4px;
  box-sizing: border-box;
  font-size: 1em;
  color: white;
  
  @media (min-width: 900px) {
    padding: 9px;
    font-size: 1.1em;
    width: 120px;
  }
}

.logout-button:hover {
  @media (min-width: 900px) {
    cursor: pointer;
    background-color: $button-color-hover;
  }
}


// Nav search container
.nav-search {
  height: 40%;
  width: 95vw;
}

// Nav search input
.nav-search-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
}