// Nav main container
.nav-container {
  height: 16vh;
  width: 100%;
  background: transparent;
}

// Nav header container
.nav-header {
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

///NAV LOGO
.nav-logo {
  width: 185px;
}

.nav-logo img {
  filter: brightness(1.5);  
}
////

.logout-button {
  // padding: 5px 10px;
  // border-radius: 3px;
  // background: red;

  width: 100px;
  font-weight: bold;
  background-color: #7e56eb;
  border-radius: 0;
  text-align: center;
  padding: 6px 4px;
  box-sizing: border-box;
  font-size: 1em;
  
  @media (min-width: 900px) {
    padding: 9px;
    font-size: 1.1em;
    width: 120px;
  }
}

// Nav search container
.nav-search {
  height: 40%;
}

// Nav search input
.nav-search-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  
  font-size: 16px;

  padding: 5px 10px;
}