// Slider
.slick-slider {
  height: 100%;
  text-align: center;

  // Ensures that slider items don't grow beyond their size
  div {
    height: 100%;
  }
}

// Media query to add a small margin to the left for desktop view
@media (min-width: 900px) {
  .slick-track {
    margin-left: 14px;
  }
}

// Arrows - keeps them from going off screen
.slick-arrow {
  position: absolute;
  z-index: 2;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}

// Slider header
.slider-header {
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px;
<<<<<<< HEAD
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1.4%, #5f0037 15%, #2c0026 65%, rgba(0, 0, 0, 0) 99.5%);

  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5em;
=======
  // margin-top: 10px;
}

.slider-title {
  color: white;
  font-size: 2.5vh;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
>>>>>>> master
}

// Interests slider container
.slider-container {
  height: 80%;
  // margin-left: 0.5%;
}

// Slider item
.slider-item {
  display: flex;
  justify-content: center;
  padding: 5px;

  min-width: 80px;
}

.slider-image {
  width: auto;
  height: 100%;
  max-width:118px;
  border-radius: 3px;
}