// Slider
.slick-slider {
  height: 100%;
  text-align: center;

  // Ensures that slider items don't grow beyond their size
  div {
    height: 100%;
  }
}

// .slick-track {
//   display: flex;
//   flex-direction: row-reverse;
// }

// Media query to add a small margin to the left for desktop view
@media (min-width: 900px) {
  .slick-track {
    margin-left: 14px;
  }
}

// Arrows - keeps them from going off screen
.slick-arrow {
  position: absolute;
  z-index: 2;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}


// Slider item
.slider-item {
  display: flex;
  justify-content: center;
  padding: 5px;

  min-width: 80px;
}

.slider-image {
  width: auto;
  height: 100%;
  border-radius: 3px;
}