// Modal background for traditonal greyed out
.grey-background {
  // Changed from fixed to absolute to account for search bar staying attached to scroll
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

// Modal child for search modal
.search-child {
  position: absolute;
  top: 9.6%;
  width: 100%;
  display: flex;
  justify-content: center;
}


.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}