// Search main container
.search-container {
  width: 100vw;
  ///new additions
  // background: rgba(145, 0, 55, 0.75);
  // background: rgba(0, 119, 0, 0.5);
// @media (min-width: 900px) {
//     max-width: 900px;
//     position: absolute;
//     left: 50vw;
//     transform: translateX(-50%);
//   }
}

input.search-input {
  box-sizing: border-box;
  width: 100%;
  height: 6.4vh;
  font-size: 16px;
  padding: 5px 10px;
  outline: none;
  position: relative;
  z-index: 2;
}

//INPUT FIELD HIGHLIGHT
input.search-input:focus {
  box-shadow: 0 0 8px rgb(102, 0, 170);
  border-top: 1px solid rgba(102, 0, 170, .8);
  border-bottom: 1px solid rgba(102, 0, 170, .8);
}


//RESULT LIST ITEMS
@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.search-results {
  max-height: 50%;
  overflow: overlay;
  background: rgba(0, 119, 0, 0.5);
  animation-name: dropdown;
  animation-duration: 800ms;
  position: relative;
  z-index: 1;
}

.search-results li {
  height: 25px;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(21, 34, 29);
  color: white;
}

.search-results li:hover {
  cursor: pointer;
  color:  rgb(255, 56, 89);
}