// $main-color: rgb(205, 152, 255);
$main-color: rgb(255, 114, 128);
$main-color-transparent: rgba(255, 52, 73, 0.7);
$detail-color-transparent: rgba(32, 6, 8, 0.7);
$detail-font-color: rgb(250, 231, 231);
$list-color-transparent: rgba(226, 0, 23, 0.7);
$button-color: rgb(122, 0, 37);
$button-color-hover: rgb(238, 51, 51);