// $main-color: rgb(205, 152, 255);
$main-color: rgb(255, 114, 128);
$main-color-transparent: rgba(255, 52, 73, 0.75);
// $main-color: rgb(44, 0, 38);
$button-color: rgb(122, 0, 37);
// $button-color: rgb(126, 86, 235);
$button-color-hover: rgb(255, 108, 115);