body {
  height: 100vh;
  width: 100%;
  // background-color: rgb(44, 0, 38);
  background: linear-gradient(165deg, rgb(44, 0, 38) 5%, rgb(95, 0, 55) 15%, rgb(44, 0, 38) 25%);
  color: black;
  background-repeat: no-repeat;

  font-family: 'Merriweather Sans', sans-serif;

  @media (min-width: 900px) {
    background: linear-gradient(175deg, rgb(44, 0, 38) 1%, rgb(95, 0, 55) 15%, rgb(44, 0, 38) 65%);
  }
}